<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <h3>Customer Service</h3>
      <p>For support and/or customer service concerns, you may email your concern to the following.</p>
      <p><a href="mailto:customerservice@mytabletop.net">Customer Service Division</a></p>
      <p>Please include specifics (order id, item description) for your concern so we may address your concern properly.</p>
    </div>
    <div class="col-sm-3">
      <h3>Purchasing</h3>
    </div>
    <div class="col-sm-3">
      <h3>Want to sell something?</h3>
    </div>
    <div class="col-sm-3">
      <h3>General concerns</h3>
    </div>
  </div>
</div>