<div class="container">
  <p>Tabletop Trading started in 2016 as a distributor for card games, board games and accessories. Currently, we have no physical (brick and mortar) stores at the moment. We are expanding our online pressence and building up product inventories.</p>
</div>