<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <h3 class="text-center">Cards</h3>
        </div>
        <div class="col-sm-4">
            <h3 class="text-center">Board Games</h3>
        </div>
        <div class="col-sm-4">
            <h3 class="text-center">Accessories</h3>
        </div>
    </div>
</div>